@font-face {
    font-family: 'Acmee';
    src: url("fonts/Acme-Regular.ttf") format('truetype');
}

$font: 'Acmee';
body {
    font-family: $font;
    background-size: cover;
    header {
        padding: 5% 0;
        background-image: url(images/background_header.jpg);
        background-size: cover;
        #navBar {
            height: 10vh;
            background-color: rgba($color: #180e05, $alpha: 0.8);
            #navheader {
                a {
                    color: white;
                    &:hover {
                        color: #f8d590;
                    }
                }
                padding-top: 2.5%;
                #small_icon {
                    width: 15%;
                    height: 15%;
                    margin-top: -3%;
                    padding-left: 2%;
                }
            }
        }
        #logopromo {
            padding: 5% 0;
            #cafe {
                width: 50%;
                height: 50%;
            }
            #titre {
                color: #FFEFD4;
                h1 {
                    font-size: 4em;
                    padding-top: 5%;
                }
                p {
                    font-size: 2em;
                    padding-top: 30%;
                }
            }
        }
    }
    main {
        background-image: url(images/background_main.png);
        #team {
            padding-top: 5%;
        }
        #last_articles {
            padding: 5% 0;
        }
    }
    footer {
        background-color: #180e05;
        padding: 2% 0;
        a {
            color: white;
            &:hover {
                color: #f8d590;
            }
        }
    }
    //-------------------------class icones réseaux sociaux-------------------------------------
    .social {
        margin-top: -1.5%;
        .liensocial {
            padding: 2%;
            font-size: 2em;
        }
    }
}