@font-face {
  font-family: "roboto";
  src: url("fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "acme";
  src: url("fonts/Acme-Regular.ttf") format("truetype");
}
body {
  font-family: "acme";
}
body #mainheader {
  background-image: url(images/background_header.jpg);
  background-size: cover;
  padding-bottom: 5%;
}
body #mainheader #navBar {
  position: fixed;
  z-index: 1000;
  background-color: rgba(24, 14, 5, 0.8);
}
body #mainheader #navBar .burger {
  background-image: url(images/icons/cookie.png);
}
body #mainheader #navBar #navheader {
  display: flex;
  justify-content: space-between;
  padding-top: 2.5%;
}
body #mainheader #navBar #navheader ul {
  display: flex;
  align-items: center;
  width: 50vw;
}
body #mainheader #navBar #navheader ul li {
  list-style-type: none;
  padding: 0 3%;
}
body #mainheader #navBar #navheader #lien_cafe {
  margin-top: -1%;
}
body #mainheader #navBar #navheader a {
  color: white;
}
body #mainheader #navBar #navheader a:hover {
  color: #f8d590;
}
body #mainheader #navBar #navheader #small_icon {
  width: 20%;
  height: 20%;
  margin-top: -10%;
  padding-left: 2%;
}
body #mainheader #logopromo {
  padding-top: 10%;
}
body #mainheader #logopromo #cafe {
  width: 50%;
}
body #mainheader #logopromo #titre {
  color: #FFEFD4;
}
body #mainheader #logopromo #titre h1 {
  font-size: 4em;
  padding-top: 5%;
}
body #mainheader #logopromo #titre p {
  font-size: 2em;
  padding-top: 30%;
}
body #secondaryheader {
  background-image: url(images/background_header_pages.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
body #secondaryheader #navBar {
  position: fixed;
  z-index: 1000;
  background-color: rgba(24, 14, 5, 0.8);
}
body #secondaryheader #navBar .burger {
  background-image: url(images/icons/cookie.png);
}
body #secondaryheader #navBar #navheader {
  display: flex;
  justify-content: space-between;
  padding-top: 2.5%;
}
body #secondaryheader #navBar #navheader ul {
  display: flex;
  align-items: center;
  width: 50vw;
}
body #secondaryheader #navBar #navheader ul li {
  list-style-type: none;
  padding: 0 3%;
}
body #secondaryheader #navBar #navheader #lien_cafe {
  margin-top: -1%;
}
body #secondaryheader #navBar #navheader a {
  color: white;
}
body #secondaryheader #navBar #navheader a:hover {
  color: #f8d590;
}
body #secondaryheader #navBar #navheader #small_icon {
  width: 20%;
  height: 20%;
  margin-top: -10%;
  padding-left: 2%;
}
body #secondaryheader #logopromo1 #titre {
  color: #FFEFD4;
}
body #secondaryheader #logopromo1 #titre h1 {
  font-size: 4em;
  padding: 12.5% 0 7.5% 0;
}
body #secondaryheader #logopromo1 #cafe {
  display: none;
}
body main {
  background-image: url(images/background_main.png);
  background-size: 100% auto;
  background-position: center;
  background-repeat: repeat-y;
}
body main #team {
  padding-top: 5%;
  text-align: justify;
}
body main #last_articles {
  padding: 5% 0;
}
body main #last_articles #carousel .carousel-inner .carousel-item {
  height: 35vh;
  background-size: cover;
  background-repeat: no-repeat;
}
body main #last_articles #carousel .carousel-inner .carousel-item .carousel_text {
  height: 35vh;
  width: 80%;
  margin: auto;
  color: white;
  text-shadow: 1px 1px 1px #000000;
  background-color: rgba(40, 40, 40, 0.5);
  padding: 5%;
}
body main #last_articles #carousel .carousel-inner .carousel-item .carousel_text a {
  color: #f8d590;
}
body main #last_articles #carousel .carousel-inner .carousel-item .carousel_text a:hover {
  color: #472402;
}
body main #last_articles #carousel .carousel-inner .carousel-item .carousel_text p {
  text-align: justify;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
body main #last_articles #carousel .carousel-inner .carousel-item .carousel_text h3 {
  text-align: center;
}
body main #last_articles #carousel .controle_carousel {
  opacity: 1;
}
body main #last_articles #carousel .controle_carousel .fleche {
  color: #f8d590;
  font-size: 2em;
}
body main #last_articles #carousel .controle_carousel .fleche:hover {
  color: #472402;
}
body main #last_articles #pres-article {
  text-align: justify;
  padding: 5%;
}
body main #last_articles #pres-article a {
  color: #472402;
}
body main #last_articles #pres-article a:hover {
  color: #f8d590;
}
body main #article {
  font-family: "roboto";
  padding: 5% 0;
}
body main #article textarea {
  width: 100%;
}
body main #article h2 {
  text-align: center;
  padding-bottom: 2%;
  font-size: 3em;
  font-weight: 800;
  color: #180e05;
}
body main #article p {
  font-size: 1.5em;
}
body main #article a {
  text-decoration: none;
  color: #472402;
  font-weight: 900;
}
body main #article li {
  list-style: none;
}
body main #article #rightblock {
  background-color: #f8d590;
  border-radius: 3em;
  padding: 10%;
  font-size: 1em;
}
body main #article #rightblock #recentspost {
  font-size: 1.3em;
}
body main #article #rightblock #submit {
  border: none;
  border-radius: 1.5em;
  background-color: #472402;
  color: white;
  width: 100%;
  height: 2%;
}
body main #article #rightblock p {
  font-size: 1em;
}
body main #article textarea {
  border-radius: 2em;
}
body main #article #postedby {
  font-size: 1em;
}
body main #article label {
  font-size: 1em;
}
body main #article #submit {
  font-size: 1em;
}
body main #article #reply-title {
  font-size: 1.3em;
}
body main #article #comments {
  font-size: 1.3em;
}
body main #article #author,
body main #article #email,
body main #article #url {
  display: block;
  width: 90%;
  border-radius: 1%;
}
body main .preview-articles {
  background-image: url(images/background_biscuit.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 80vh;
  padding: 7.5%;
  margin: 5% 0;
  color: white;
}
body main .preview-articles .post-title {
  text-align: center;
  padding: 4% 2% 2% 2%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .preview-articles .post-image {
  padding: 2%;
  height: 30%;
  display: flex;
  align-items: center;
}
body main .preview-articles .auteur_date {
  font-size: 1.3em;
  padding: 2%;
}
body main .preview-articles .resume {
  text-align: justify;
  padding: 2%;
  height: 20%;
  overflow-y: scroll;
}
body main .preview-articles a {
  color: #f8d590;
}
body main .preview-articles a:hover {
  color: #FFEFD4;
}
body main .preview-articles .lien_single {
  padding: 2% 2% 4% 2%;
}
body main .preview-articles .lien_single .grains {
  width: 35%;
  margin: 5%;
  height: auto;
}
body main #promo {
  padding: 4% 0;
}
body main #promo .alone {
  text-align: center;
}
body main #promo .alone .photo {
  padding: 10% 5%;
}
body footer {
  background-color: #180e05;
  padding: 2% 0;
}
body footer #navfooter {
  display: flex;
}
body footer #navfooter ul {
  display: flex;
  align-items: center;
}
body footer #navfooter ul li {
  list-style-type: none;
  padding: 0 3%;
}
body footer #navfooter a {
  color: white;
}
body footer #navfooter a:hover {
  color: #f8d590;
}
body .social {
  margin-top: -1.5%;
}
body .social .liensocial {
  padding: 5%;
  font-size: 2em;
}
body header h1 {
  font-size: 2em;
}

/*# sourceMappingURL=style.css.map */
